<br>
<div class="container" >
	
	<form   (ngSubmit)="processForm()" [formGroup]="form" >
		<div class="form group">
			<label for="Nome">Digite o Nome da sua capsula de café</label>
			<input type="text" name="Nome" class="form-control" formControlName="nome"  [(ngModel)] = "Capsula.nomeCapsula">
		</div>
		<div class="form group">
      <label for="sabor">Digite o sabor de sua capsula</label>
      <input type="text" name="Sabor" class="form-control" formControlName="sabor" [(ngModel)] = "Capsula.saborCapsula">
    </div>
    <br>
		<input type="submit" class="btn btn-success" value="Salvar Capsula" [disabled]="!form.valid">
	</form>

</div>